body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grid-prompt {
    margin: 5px;

}
#grid-container {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.square {
    /* border: 5px solid red;*/
    background-color: yellow;
    /* margin: 5px; */
}

